.container1 {
  max-width: 1073px;
  margin: 0 auto;

  padding: 140px 20px 0 20px;
}
.aboutmain {
  background: url("../public/img/backgr-about.png");
  background-repeat: no-repeat;
  background-size: cover;

  margin-top: -183px;

  .who {
    max-width: 780px;
    margin-top: 150px;
    h2 {
      text-align: left;
    }
  }
  .aboutImage {
    margin-left: 60%;
    max-width: 40%;
  }
}
.nameabout {
  margin-top: 100px;
  background-color: #fff4e4;
  h2 {
    padding-top: 40px;
  }
}
.principles {
  background-color: #fff4e4;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto 70px auto;
  max-width: 986px;
  .principImage {
    margin-right: 125.85px;
  }

  .principtext {
    max-width: 405px;
    .blocktext {
      margin-bottom: 75px;
    }
  }
}

@media (max-width: 768px) {
  .aboutmain {
    .aboutImage {
      max-width: 60%;
      margin-left: 10%;
    }
    .who {
      max-width: 661px;
      margin: 0 auto;
    }
  }
  .principles {
    margin-bottom: 0px;
  }
}

@media (max-width: 700px) {
  .aboutmain {
    .container {
      padding: 0 16px;
      .aboutImage {
        max-width: 100%;
      }
      h3 {
        font-size: 24px;
        line-height: 32px;
      }
    }
  }
  .nameabout {
    margin-top: 160px;
    margin-bottom: 50px;
    h2 {
      margin-bottom: 50px;
    }
  }
  .principles {
    flex-direction: column;
    align-items: center;
    padding: 0 16px;
    .principImage {
      display: none;
    }
  }
}
@media (max-width: 400px) {
  .aboutmain {
    .container1 {
      padding: 0;
      .aboutImage {
        max-width: 100%;
        margin: 0 20px;
      }
      .who {
        padding-top: 50px;
        padding: 50px 20px 0;
      }
    }
  }
  .nameabout {
    margin-top: 40px;
    h2 {
      font-size: 36px !important;
    }
  }
}
@media (max-width: 460px) {
  .who h2 {
    padding: 0;
  }
}
@media (min-width: 1445px) {
  .aboutmain {
    height: 650px;
  }
}
// @media (max-width: 1445px) {
//   .nameabout {
//     margin-top: 190px;
//   }
// }
@media (min-width: 1700px) {
  .aboutmain {
    height: 800px;
  }
}
@media (min-width: 2000px) {
  .aboutmain {
    height: 1000px;
  }
}
