.container1 {
  max-width: 1073px;
  margin: 0 auto;
}
.aboutmain {
  background: url("../public/img/backgr-about.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10;

  :before {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    background-position: bottom;
    background-repeat: no-repeat;
    // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%230099ff' fill-opacity='1' d='M0,32L80,48C160,64,320,96,480,138.7C640,181,800,235,960,229.3C1120,224,1280,160,1360,128L1440,96L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z'%3E%3C/path%3E%3C/svg%3E");
    top: 0;
    left: 0;
  }
  .who {
    max-width: 780px;
    margin-top: 150px;
    h2 {
      text-align: left;
      padding: 0 16px;
    }
  }
  .aboutImage {
    margin-left: 60%;
    max-width: 40%;
  }
}
.nameabout {
  margin-top: 100px;
  background-color: #fff4e4;
  h2 {
    padding-top: 40px;
    font-size: 36px;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 60px;
  }
  h3 {
    color: #db8e76;
    margin-top: 39px;
  }
}
.principles {
  background-color: #fff4e4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto 70px auto;
  max-width: 986px;
  padding-bottom: 90px;
  .principImage {
    margin-right: 125.85px;
  }

  .principtext {
    max-width: 405px;

    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
    }
  }
}

@media (max-width: 768px) {
  .aboutmain {
    .aboutImage {
      max-width: 60%;
      margin-left: 10%;
    }
    .who {
      max-width: 661px;
      margin: 0 auto;
    }
  }
  .principles {
    margin-bottom: 0px;
  }
}

@media (max-width: 700px) {
  .aboutmain {
    .container {
      padding: 0 16px;
      .aboutImage {
        max-width: 100%;
      }
      h3 {
        font-size: 24px;
        line-height: 32px;
      }
    }
  }
  .nameabout {
    margin-top: 160px;
    margin-bottom: 50px;
    h2 {
      margin-bottom: 50px;
    }
  }
  .principles {
    flex-direction: column;
    align-items: center;
    padding: 0 16px;
    .principImage {
      display: none;
    }
  }
}
@media (max-width: 400px) {
  .aboutmain {
    .container1 {
      padding: 0;
      .aboutImage {
        max-width: 100%;
        margin: 0 20px;
      }
      .who {
        padding-top: 50px;
        padding: 50px 20px 0;
      }
    }
  }
  .nameabout {
    margin-top: 40px;
    h2 {
      font-size: 36px !important;
    }
  }
}
@media (max-width: 460px) {
  .who h2 {
    padding: 0;
  }
}
@media (min-width: 1445px) {
  .aboutmain {
    height: 650px;
  }
}
// @media (max-width: 1445px) {
//   .nameabout {
//     margin-top: 190px;
//   }
// }
@media (min-width: 1700px) {
  .aboutmain {
    height: 800px;
  }
}
@media (min-width: 2000px) {
  .aboutmain {
    height: 1000px;
  }
}
