.backgr {
  background-color: rgba(245, 247, 251, 1);
  width: 100%;
  height: 600px;
  border-radius: 50px;

  .instablock {
    max-width: 986px;
    margin: 0 auto 82px auto;
    padding: 84px 16px 0 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .instaimg {
      max-width: 424px;
    }
    .instatext {
      .place {
        font-size: 32px;
        font-weight: 500;
        line-height: 48px;
        letter-spacing: 0em;
      }
      .description {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
      }
      .linkinsta {
        border-bottom: #2790d1 solid 2px;
        display: inline-block;
        line-height: 1.4em;
        position: relative;

        font-size: 16px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        & :hover {
          color: #9ca1b9;
          border-bottom: #2790d1 solid 1px;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .backgr {
    height: auto;
    .instablock {
      padding-bottom: 62px;
      height: auto;
      flex-direction: column;
      .instatext,
      .instaimg {
        align-self: center;
      }
    }
  }
}
