.rwWrapper {
  position: relative;
  h1 {
    margin-bottom: 5px;
  }
  .rwSentence {
    .span {
      font-weight: normal;
    }
    .rwWords {
      display: inline;

      span {
        position: absolute;
        opacity: 0;
        overflow: hidden;
        color: #db8e76;
        top: 70px;

        animation: rotateWord 7.5s linear infinite 0s;

        &:nth-child(2) {
          animation-delay: 2.5s;
          color: #db8e76;
        }
        &:nth-child(3) {
          animation-delay: 5s;
          color: #db8e76;
        }
      }
    }
    @keyframes rotateWord {
      0% {
        opacity: 0;
      }

      2% {
        opacity: 1;
      }
      12% {
        opacity: 1;
      }
      25% {
        opacity: 1;
      }
      30% {
        opacity: 0;
      }
      98% {
        opacity: 0;
      }
      100% {
        opacity: 0;
      }
    }
  }
}
