.rwWrapper {
  position: relative;

  .rwSentence {
    .span {
      font-weight: normal;
    }
    .rwWords {
      display: inline;
      text-indent: 10px;
      span {
        position: absolute;
        opacity: 0;
        overflow: hidden;
        color: #4e93ce;
        -webkit-animation: rotateWord 12s linear infinite 0s;
        -moz-animation: rotateWord 12s linear infinite 0s;
        -o-animation: rotateWord 12s linear infinite 0s;
        -ms-animation: rotateWord 12s linear infinite 0s;
        animation: rotateWord 12s linear infinite 0s;

        &:nth-child(2) {
          -webkit-animation-delay: 4s;
          -moz-animation-delay: 4s;
          -o-animation-delay: 4s;
          -ms-animation-delay: 4s;
          animation-delay: 4s;
          color: #4e93ce;
        }
        &:nth-child(3) {
          -webkit-animation-delay: 7s;
          -moz-animation-delay: 7s;
          -o-animation-delay: 7s;
          -ms-animation-delay: 7s;
          animation-delay: 7s;
          color: #4e93ce;
        }
      }
    }
    @keyframes rotateWord {
      0% {
        opacity: 0;
      }
      2% {
        opacity: 0;
        -webkit-transform: translateY(-30px);
      }
      5% {
        opacity: 1;
        -webkit-transform: translateY(0px);
      }
      17% {
        opacity: 1;
        -webkit-transform: translateY(0px);
      }
      20% {
        opacity: 0;
        -webkit-transform: translateY(30px);
      }
      80% {
        opacity: 0;
      }
      100% {
        opacity: 0;
      }
    }
  }
}
