.contact {
  margin: 0 auto;
  background-color: #f7f7fa;
  .container {
    max-width: 1110px;
    padding: 100px 80px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .getit {
      max-width: 441px;
      p {
        font-size: 16px;
        line-height: 24px;
        padding-bottom: 10px;
      }
      .photo {
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        p {
          margin-top: 5px;
        }
        .photoImage {
          width: 60px;
          height: 60px;
          margin-right: 15px;
        }
      }
      .follow {
        margin-top: 90px;
      }

      .social {
        .insta {
          margin-right: 19px;
        }
      }
    }
    .calendar {
      width: 409px;
      height: 591px;
    }
  }
}
@media (max-width: 900px) {
  .contact {
    .container {
      flex-direction: column;
      align-items: center;
      padding-right: 20px;
      padding-left: 20px;

      .getit {
        .photo {
          margin: 59px 0 70px;
        }
      }
      .calendar {
        margin-top: 40px;
        width: 431px;
        margin-bottom: 50px;
        text-align: center;
      }
    }
  }
}
@media (max-width: 450px) {
  .contact {
    .container {
      padding-bottom: 50px;
      .social,
      .follow {
        display: none;
      }

      .calendar {
        width: 292px;
        padding-top: 0;
        margin: 0 0 0 -25px;
      }
    }
  }
}
