.contact {
  margin: 0 auto;
  background-color: #f7f7fa;
  .container {
    max-width: 1110px;
    min-height: 900px;
    margin: 0 auto;
    padding: 100px 16px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .getit {
      max-width: 441px;

      h1 {
        line-height: 68px;
        margin-bottom: 39px;
      }
      p {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: -10px;
      }
      .photo {
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        p {
          margin-top: 5px;
        }
        .photoImage {
          width: 60px;
          height: 60px;
          margin-right: 15px;
        }
      }
    }
    .calendar {
      width: 484px;
      padding: 5px;
      border: 1px solid #2e303c;
      border-radius: 16px;
    }
  }
}
@media (max-width: 900px) {
  .contact {
    .container {
      padding-top: 70px;
      flex-direction: column;
      align-items: center;

      .calendar {
        margin-top: 60px;
        width: 431px;
        height: 770px;
        text-align: center;
        padding: 8px;
      }
    }
  }
}
@media (max-width: 450px) {
  .contact {
    .container {
      .getit {
        h1 {
          line-height: 48px;
        }
      }
      .calendar {
        width: 292px;
        padding-top: 0;
      }
    }
  }
}
