.footer {
  background: rgba(46, 48, 61, 1);
  padding: 117px 45px 0 45px;

  .footermain {
    display: flex;
    flex-direction: row;
    max-width: 1280px;
    margin: 0 auto 75px;
    justify-content: space-around;
    color: white;
    .menufooter {
      padding-left: 0;
    }
    .contactfooter {
      min-width: 191px;
      .email {
        font-size: 16px;
      }
      .form {
        width: 294px;
        height: 156px;
      }
      .follow {
        padding-top: 12px;
        .insta {
          margin-right: 19px;
        }
      }
    }
  }

  .logofooter {
    max-width: 1280px;
    margin-top: 30px;
  }

  .privacy {
    color: rgba(133, 146, 154, 1);
    max-width: 1280px;
    margin: 0 auto;
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: right;
    font-size: 10px;
    padding-bottom: 18.6px;
    div {
      padding-left: 15px;
    }
  }
}
@media (max-width: 630px) {
  .footer {
    padding: 53px 16px 0 16px;
    .privacy {
      flex-direction: column;
      font-size: 14.27px;
      justify-content: left;
      text-align: left;
      div {
        padding-left: 0;
        padding-bottom: 16px;
      }
    }
    .logofooter {
      display: none;
    }
    .footermain {
      flex-direction: column;
      justify-content: center;
      margin-bottom: 20px;
      h3 {
        font-size: 1.78em;
      }
      .contactfooter {
        .email {
          font-size: 1.187em;
        }
        .follow {
          padding-bottom: 20px;
        }
      }
      .menufooter {
        font-size: 1.187em;
      }
    }
  }
}
