.container {
  background: linear-gradient(180deg, #ffffff 0%, #eeece5 100%);
  padding-bottom: 20px;
  //   height: 1160px;
  .text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 30px;
    padding: 0 10px;
  }
  h2 {
    margin-bottom: 0px;
  }
  .gallerypackage {
    max-width: 1260px;
    // flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto;
    display: flex;
    gap: 22px 22px;
    padding: 0 20px;
    .part1 {
      display: flex;
      flex-direction: row;
      gap: 22px 22px;
    }
    .part2 {
      display: flex;
      flex-direction: row;
      gap: 22px 22px;
    }

    .item {
      margin: 22px 0 22px;
      display: inline-block;
      overflow: hidden;
    }
    img {
      border-radius: 10px;
      width: 298px;
      height: auto;
      // transition: 1s; /* Время эффекта */
      display: block;
    }
    // img:hover {
    //   transform: scale(1.1);
    // }
  }
  .btnServices {
    margin: 0 auto;
    max-width: 142.31px;
    padding-bottom: 80px;
  }
}
.section {
  margin-bottom: 56px;
  margin-top: 56px;
}
@media (max-width: 1000px) {
  .container {
    .gallerypackage {
      flex-wrap: wrap;
      gap: 10px 10px;
      .item {
        margin: 10px 0 10px;
      }
    }
  }
  .btnServices {
    padding-top: 80px;
  }
}
