.blockmain {
  max-width: 1280px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto 88px auto;
  padding: 0 20px;

  .textmain {
    text-align: left;
    height: 609px;
    width: 600px;
    p {
      margin: 0;
      padding-bottom: 28px;
      line-height: 27px;
    }
  }
}
@media (max-width: 1040px) {
  .blockmain {
    flex-direction: column;
    .textmain {
      height: auto;
      margin-bottom: 50px;
    }
  }
}

@media (max-width: 768px) {
  .blockmain {
    .textmain {
      width: 600px;
    }
  }
}
@media (max-width: 600px) {
  .blockmain {
    .textmain {
      width: 100%;
      min-width: 320px;
    }
  }
}

@media (max-width: 550px) {
  .sectionAll {
    margin-top: -40px;

    .header1 {
      font-size: 2.34em;
      line-height: 45px;
    }
  }
}
@media (max-width: 600px) {
  .blockmain {
    .textmain {
      h1 {
        font-size: 38px;
      }
    }
  }
}
