.blockmain {
  max-width: 1280px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto 88px auto;
  padding: 0 20px;

  .textmain {
    text-align: left;
    p {
      margin: 0;
      padding-bottom: 28px;
      line-height: 27px;
    }
  }
}
@media (max-width: 768px) {
  .blockmain {
    flex-direction: column;
    .textmain {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 550px) {
  .sectionAll {
    margin-top: -40px;

    .header1 {
      font-size: 2.34em;
      line-height: 45px;
    }
  }
}
