.navbar {
  height: 104px;
  max-width: 1286px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: relative;
  .menu {
    position: relative;
  }
  .navigulwork {
    width: 152px;
    background: #ffffff;
    box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: absolute;
    z-index: 10;
    top: 50px;
    left: 45px;
    .navwork {
      padding: 16px 31px 16px 27px;
      li {
        line-height: 34px;
        letter-spacing: 0em;
        text-align: left;
      }
    }
  }
  .navigul {
    background: #ffffff;
    box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: row;
    top: 50px;
    left: -280px;

    .navserv1,
    .navserv2 {
      padding-left: 27px;
      width: 280px;
      padding: 5px 0 32px 27px;

      h3 {
        font-size: 12px;
        font-weight: 700;
        line-height: 34px;
        letter-spacing: 0.08em;
        text-align: left;
        color: #db8e76;
      }
      li {
        font-size: 16px;
        font-weight: 400;
        line-height: 34px;
        letter-spacing: 0em;
        text-align: left;
      }
    }
  }

  a {
    &:hover {
      color: rgba(219, 142, 118, 1);
    }
    &:active {
      color: rgba(220, 180, 118, 1);
    }
  }

  .menu input {
    display: none;
  }
  .menu > :not(input):not(label) {
    overflow: hidden;
    height: 0;
    margin: 0;
    padding: 0;
    border-top-style: none;
    transition: 0.5s;
  }
  .menu > label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;

    // &::after {
    //   content: url(../public/icons/answerclose.svg); /* Выводим плюс */
    //   float: right; /* Размещаем по правому краю */
    // }
  }
  .menu > :checked + label + * {
    overflow: hidden;
    height: auto;
  }
  .menu > :checked + label {
    cursor: default;
    // &::after {
    //   content: url(../public/icons/answeropen.svg); /* Выводим плюс */
    //   float: right; /* Размещаем по правому краю */
    // }
  }
}

@media (max-width: 768px) {
  .navbar {
    height: 78px;

    .menu {
      display: none;
    }
  }
}
