.navbar {
  height: 104px;
  max-width: 1286px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  a {
    padding-right: 30px;
    &:hover {
      color: rgba(219, 142, 118, 1);
    }
    &:active {
      color: rgba(220, 180, 118, 1);
    }
    span {
      margin-left: 5px;
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    height: 78px;

    .menu {
      display: none;
    }
  }
}
