.services {
  background-color: #f5f7fb;
  text-align: center;
  height: 195px;
  h1 {
    padding-top: 50px;
    font-size: 64px;
    font-weight: 400;
    line-height: 68px;
    letter-spacing: 0em;
    text-align: center;
  }
  p {
    max-width: 515px;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
  }
}

// Serviceblock
.container {
  max-width: 997px;
  margin: 0 auto;

  .block {
    h2 {
      margin-bottom: 20px;
      margin-top: 86px;
    }
    p {
      padding-right: 10px;
      padding-left: 10px;
      max-width: 444px;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: center;
      margin: 0 auto;
    }
    .images {
      margin-top: 68px;
      margin-bottom: 68px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .imageright,
      .imageleft {
        max-width: 470px;
        padding: 0 10px;

        h3 {
          font-size: 24px;
          font-weight: 400;
          line-height: 32px;
          letter-spacing: 0em;
          text-align: center;
        }
        .price {
          max-width: 470px;
          font-size: 14px;
          font-weight: 400;
          line-height: 16px;
          letter-spacing: 2.0999999046325684px;
          text-align: center;
          text-transform: uppercase;
        }
      }
    }
  }
}
//webdev
.priceweb {
  max-width: 470px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 2.0999999046325684px;
  text-align: center;
}
.im {
  height: 416.44px;
  transition-duration: 1s;
  &:hover {
    box-shadow: 0px 0px 30px rgba(46, 48, 61, 0.15);
    transition-duration: 1s;
    transform: scale(1.07);
  }
}
.imsquare {
  height: 450px;
  transition-duration: 1s;
  &:hover {
    box-shadow: 0px 0px 30px rgba(46, 48, 61, 0.15);
    transition-duration: 1s;
    transform: scale(1.07);
  }
}
.packageprice {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 2.0999999046325684px;
  text-align: left;
}
@media (max-width: 1000px) {
  .container {
    .block {
      .images {
        flex-direction: column;
        margin-bottom: 0;
        .imageright,
        .imageleft {
          align-self: center;
          margin-bottom: 80px;
        }
      }
    }
  }
}
